.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.content {
  flex: 1;
  max-width: none;  /* убрать ограничения */
  margin: 0;
  padding: 0;
} 
.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.notesWrapper {
  width: 100%;
}